.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 16px;
    /* Трохи збільшуємо проміжки для краси */
    max-width: 1140px;
    margin: 32px auto;
    /* 32px відступу зверху та знизу */
    padding: 0;
    list-style: none;
}

.item {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}